<!-- <div id="demo">
    <h2>My Home Component Works</h2>
    <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
        <input type="text" (ngModel)="customerName" name="customerName">
        <input type="email" (ngModel)="email" name="email">
        <input type="password" (ngModel)="password" name="password">
        <button type="submit" [disabled]="!customerForm.form.value"></button>
    </form>
</div> -->

<p>Home Works!</p>
<!-- <span>{{isLoggedIn}}</span> -->
<a routerLink="/products">Products</a>